/* CSS to disable scrolling on the body */
.body-overflow-hidden {
    overflow: hidden;
    height: 100%;
}


#sidebar {
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform: translateX(-100%); /* Initially hide the sidebar off-screen */
    opacity: 0;
}

#sidebar.show {
    transform: translateX(0); /* Slide it in */
    opacity: 1;
}
