<%- include('../../partials/dashboard') %>

    <main class="flex-grow p-2 md:p-8 lg:p-12 bg-gradient-to-r from-blue-50 to-blue-200">

        <!-- Header Section -->
        <header class="flex items-center justify-between bg-blue-600 text-white rounded-lg shadow-md px-8 py-6 mb-8">
            <div>
                <h2 class="text-3xl font-semibold tracking-wide">Add New Class</h2>
                <p class="text-sm lg:block hidden">Add a new class.
                <p>
            </div>
            <a href="/dashboard/class/reports"
                class="bg-white text-green-600 hover:bg-gray-100 font-semibold px-4 py-2 rounded-md shadow-md transition duration-300">
                All Class Lists
            </a>
        </header>

        <%- include('../../partials/flashMessage') %>


            <!-- Class Form Section -->
            <section class="bg-white shadow-md rounded-lg p-6">
                <form action="/dashboard/class/add" method="POST">
                    <div class="mb-4">
                        <label for="name" class="block text-sm font-semibold text-gray-700">Class Name</label>
                        <input type="text" id="name" name="name"
                            class="px-4 py-2 w-full border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-500"
                            required>
                    </div>



                    <div class="mb-4">
                        <label for="section" class="block text-sm font-semibold text-gray-700">Section</label>
                        <select id="section" name="section"
                            class="px-4 py-2 w-full border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-500"
                            required>
                            <option value="" disabled selected>Select Section</option>
                            <option value="A">A
                            </option>
                            <option value="B">B
                            </option>
                        </select>
                    </div>


                    <div class="mb-4 flex items-center justify-between">
                        <button type="submit"
                            class="px-6 py-2 bg-blue-800 text-white rounded-lg shadow hover:bg-blue-700 focus:ring focus:ring-blue-200 focus:outline-none">
                            Add Class
                        </button>
                    </div>
                </form>
            </section>
    </main>

    <%- include('../../partials/dashboardfooter') %>